extend layout
block nav
  .title
    h1 Kitchen orders
block content
  #orders
//    div(class='orderHeader', data-room='cr2')
//      h2='Changing Room 2'
//      p='10:38'
//      a(class='btn orderDone')='done'
//    ul
//      li='2 x Flat White'
//      li='5 x Cappuccino'